:root {
  font-size: clamp(13px, 0.75rem + 0.35vw, 17px);
  font-family: var(--font-default);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

input,
textarea,
code,
pre,
.font-mono,
.normal-case {
  text-transform: none;
}

.font-mono {
  font-family: var(--font-mono);
  font-feature-settings: 'liga' 0;
}

html.normal-case * {
  text-transform: none;
}
